Current:
- curr_money = @events.map(&:change).inject('+')
%b= curr_money
(
= '+' + (-@debt).to_s + ' = '
%b= curr_money + @debt * -1
)
%br
%br
= form_for @event do |f|
  = f.label 'Value'
  = f.text_field :change, value: 0
  = f.label 'Comment'
  = f.text_area :comment
  = f.submit 'Add'
%br
%br
%table
  %tbody
    - @events.each do |event|
      %tr
        %td{width: '300px'}= event.created_at.strftime("%A, %d %B %Y, %H:%M")
        %td{width: '60px', align: 'right'}
          %b= event.change
        %td{style: 'padding-left: 10px'}= event.comment
