Current:
%b= @events.map(&:change).inject('+')
%br
%br
= link_to "Add", new_global_event_path
%br
%br
%table
  %tbody
    - @events.each do |event|
      %tr
        %td= event.created_at
        %td
          %b= event.change
        %td= event.comment
