%table
  %tr
    %td{width: '400px'}
      Current
      = @events.map(&:change).inject('+')
    %td= link_to "Add", new_global_event_path

%br
%table
  %tbody
    - @events.each do |event|
      %tr
        %td= event.created_at
        %td= event.change
        %td= event.comment
