- if @current_shisha
  smoking now
- else
  = link_to 'Set up a new shisha!', new_shisha_path, class: 'create-shisha-button'
%table.shisha-table
  %tbody
  - @user_shsihas.each do |s|
    %tr
      %td
        = s.created_at
      %td
        - s.users.each do |u|
          = render partial: 'shared/user_panel', locals: { user: u }
      %td
        = '-'
        = s.price.to_f / s.users.length
