.shisha-panel{ class: shisha.current ? 'current' : '' }
  .date= shisha.created_at.strftime("%A, %d %B %Y, %H:%M")
  .users
    - shisha.users.each do |u|
      = render 'shared/user_panel', user: u, show: [:first_name]
  .action
    - if shisha.current
      = link_to 'Stop smoking', stop_shisha_path(shisha), class: 'button'
    - else
      = "- #{shisha.price.to_f / shisha.users.length}"
