= "Add money to #{@user.draw.name([:first_name, :username, :last_name])}"
= form_for [@user, @event] do |f|
  = f.label 'Value'
  = f.text_field :change, value: 0
  = f.label 'Comment'
  = f.text_area :comment
  = label_tag 'Global'
  = check_box_tag :global
  = f.submit 'Add'
