%table.shisha-panel{ class: shisha.current ? 'current' : '' }
  %tr
    %td.date= shisha.created_at.strftime("%A, %d %B %Y, %H:%M")
    %td.users
      - shisha.users.each do |u|
        = render 'shared/user_panel', user: u, show: [:first_name]
    %td.action
      - if shisha.current?
        - if shisha == current_user.current_shisha
          = link_to 'Leave', shisha_leave_path(shisha), class: 'button'
          = link_to 'Stop smoking', shisha_stop_path(shisha), class: 'button'
        - else
          = link_to 'Join!', shisha_join_path(shisha), class: 'button'
      - else
        = "- #{shisha.price.to_f / shisha.users.length}"
