- curr_money = @events.map(&:change).inject('+')
%table
  %tbody
    %tr
      %td{ align: 'right' }
        Actual:
      %td{ align: 'right' }
        %b= curr_money
    %tr
      %td{ align: 'right' }= '+' + @debt.round(2).to_s + ' debts: '
      %td{ align: 'right' }
        %b= (curr_money + @debt).round(2)
%br
= form_for @event do |f|
  = f.label 'Value'
  = f.text_field :change, value: 0
  = f.label 'Comment'
  = f.text_area :comment
  = f.submit 'Add'
%br
%br
%table
  %tbody
    - @events.each do |event|
      %tr
        %td{width: '350px'}= event.created_at.strftime("%A, %d %B %Y, %H:%M")
        %td{width: '60px', align: 'right'}
          %b= event.change
        %td{style: 'padding-left: 10px'}= event.comment
