#navbar
  = link_to 'Main', root_path, class: 'navitem'
  - if current_user.super_admin?
    = link_to 'Users', users_path, class: 'navitem'
    = link_to 'Main spendings', global_events_path, class: 'navitem'
  = link_to(image_tag('logout-icon.png'), signout_path, class: 'navitem right logout', title: 'Logout') if current_user
  .navitem.right
    = current_user.money.round(2).to_s + ' RUR'
  .navitem.right= current_user.first_name
  = image_tag current_user.photo_url, alt: 'dummy-ava.png', class: 'navitem right ava', onerror: "this.src='#{asset_path('dummy-ava.png')}'"
  - if current_user.current_shisha
    = image_tag 'shisha-icon.png', class: 'navitem right smoking-now-ico', title: 'Smoking now'
